.header {
    background-image: url(./images/mike-kenneally-zlwDJoKTuA8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.container-padding {
    padding: 8rem 0rem;
}
.button {
    background-color: rgba(123, 80, 55, 0.918);
    border-color: rgba(123, 80, 55, 0.918);
}
.cardBtn {
    background-color: rgb(133, 84, 56);
}
.coffeeBanner {
    background-image: url(./images/home2-banner3.jpg);
    background-size: cover;
    background-position: center;
}
.banner-bg {
    background-image: url(./images/home2-banner6.png);
    background-size: cover;
    background-position: center;
    padding: 7rem 0rem;
}
.newsletter {
    background-color: rgb(110, 77, 64);
}
.banner-btn {
    background-color: rgba(187, 75, 97, 0.768);
    color: rgb(255, 255, 255);
}

.icon:hover {
    background-color: rgb(196, 196, 196);
}
.font-clr {
    color: rgba(201, 143, 109, 0.918);
}
