.header {
    background-image: url(./images/mike-kenneally-zlwDJoKTuA8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.button {
    background-color: rgba(123, 80, 55, 0.918);
    border-color: rgba(123, 80, 55, 0.918);
}
.cardBtn {
    background-color: rgb(133, 84, 56);
}
.coffeeBanner {
    background-image: url(./images/home2-banner3.jpg);
    background-size: cover;
    background-position: center;
}
